{% include 'recipes/partials/head.html' %} {% comment "" %}AQUI CHAMO UMA FUNÇÃO, TIPO IF, FOR... {% endcomment %}

<body>
    <header class="main-header-container">

        <div class="main-header container">
            <a class="main-logo" href="/">
                <h1><i class="fas fa-utensils main-logo-icon" style="color: #fff;"></i>
                    <span class="main-logo-text">Receitas do {{ name }} {% comment "" %}AQUI CHAMO UMA VARIÁVEL{% endcomment %}</span>
                </h1>
            </a>
        </div>


    </header>
    
</body>
</html>